<!DOCTYPE html>
<html>
<head>
	<title></title>

	 <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
   	
	<style type="text/css">
        
        .thead
        {
        	border: 1px solid grey;
        	height: 50px;
        	padding-left: 5px;
            
        }
        #head
        {
        	background-color:#DCDCDC;
        	margin-left: -10px;
        	margin-right: -10px;
        	height: 120px;
        	/*margin-bottom: -10px;*/
        }
	

	</style>
</head>
<body>
<!-- header --> 
     <div class="container">
       <header id="head"> <!-- <img src="Logo.png">
       <img src="Logo.png">
       <img src="Logo.png"> -->
       <div class="row">
       	   <div class="col-lg-4 col-md-4 col-sm-4">
       	   	 <img src="Logo.png">
       	   </div>
       	    <div class="col-lg-4 col-md-4 col-sm-4">
       	   	 <img src="Logo.png">
       	   </div>
       	    <div class="col-lg-4 col-md-4 col-sm-4">
       	   	 <img src="Logo.png">
       	   </div>

       </div>
       </header>
       <br><br><br><br><br>
        <div class="row" style="border: 1px solid black;">
           <div class="col-lg-12" style="text-align: center;"> Reveue Report France For Date....</div>    
       </div>
       <br> <br>
       <div class="row">
       	    <div class="col-lg-1 col-md-1 col-sm-1 thead">Months</div>
       	    <div class="col-lg-2 col-md-2 col-sm-1 thead" > Card Sold </div>
       	    <div class="col-lg-1 col-md-1 col-sm-1  thead" > loading </div>
       	    <div class="col-lg-2 col-md-2 col-sm-2 thead" >Interchange & fees </div>
       	    <div class="col-lg-1 col-md-1 col-sm-1 thead" > Misc </div>
       	    <div class="col-lg-2 col-md-2 col-sm-2 thead"> Negative Balance </div>
       	    <div class="col-lg-2 col-md-2 col-sm-2 thead"> Total Revenue </div>
       	    <div class="col-lg-1 col-md-1 col-sm-2 thead"> Royality </div>

       </div>
       <div class="row">
       	    <div class="col-lg-1 col-md-1 col-sm-1 thead" > January </div>
       	    <div class="col-lg-2 col-md-2 col-sm-1 thead" > </div>
       	    <div class="col-lg-1 col-md-1 col-sm-1 thead" > </div>
       	    <div class="col-lg-2 col-md-2 col-sm-2 thead" ></div>
       	    <div class="col-lg-1 col-md-1 col-sm-1 thead" > </div>
       	    <div class="col-lg-2 col-md-2 col-sm-2 thead"> </div>
       	    <div class="col-lg-2 col-md-2 col-sm-2 thead"> </div>
       	    <div class="col-lg-1 col-md-1 col-sm-2 thead"> </div>

       </div>
       <div class="row">
       	    <div class="col-lg-1 col-md-1 col-sm-1 thead" > February </div>
       	    <div class="col-lg-2 col-md-2 col-sm-1 thead" > </div>
       	    <div class="col-lg-1 col-md-1 col-sm-1 thead" > </div>
       	    <div class="col-lg-2 col-md-2 col-sm-2 thead" ></div>
       	    <div class="col-lg-1 col-md-1 col-sm-1 thead" > </div>
       	    <div class="col-lg-2 col-md-2 col-sm-2 thead"> </div>
       	    <div class="col-lg-2 col-md-2 col-sm-2 thead"> </div>
       	    <div class="col-lg-1 col-md-1 col-sm-2 thead"> </div>

       </div>
       <div class="row">
       	    <div class="col-lg-1 col-md-1 col-sm-1 thead" > March </div>
       	    <div class="col-lg-2 col-md-2 col-sm-1 thead" > </div>
       	    <div class="col-lg-1 col-md-1 col-sm-1 thead" > </div>
       	    <div class="col-lg-2 col-md-2 col-sm-2 thead" ></div>
       	    <div class="col-lg-1 col-md-1 col-sm-1 thead" > </div>
       	    <div class="col-lg-2 col-md-2 col-sm-2 thead"> </div>
       	    <div class="col-lg-2 col-md-2 col-sm-2 thead"> </div>
       	    <div class="col-lg-1 col-md-1 col-sm-2 thead"> </div>

       </div>
       <div class="row">
       	    <div class="col-lg-1 col-md-1 col-sm-1 thead" > April </div>
       	    <div class="col-lg-2 col-md-2 col-sm-1 thead" > </div>
       	    <div class="col-lg-1 col-md-1 col-sm-1 thead" > </div>
       	    <div class="col-lg-2 col-md-2 col-sm-2 thead" ></div>
       	    <div class="col-lg-1 col-md-1 col-sm-1 thead" > </div>
       	    <div class="col-lg-2 col-md-2 col-sm-2 thead"> </div>
       	    <div class="col-lg-2 col-md-2 col-sm-2 thead"> </div>
       	    <div class="col-lg-1 col-md-1 col-sm-2 thead"> </div>

       </div>
       <div class="row">
       	    <div class="col-lg-1 col-md-1 col-sm-1 thead" > May </div>
       	    <div class="col-lg-2 col-md-2 col-sm-1 thead" > </div>
       	    <div class="col-lg-1 col-md-1 col-sm-1 thead" > </div>
       	    <div class="col-lg-2 col-md-2 col-sm-2 thead" ></div>
       	    <div class="col-lg-1 col-md-1 col-sm-1 thead" > </div>
       	    <div class="col-lg-2 col-md-2 col-sm-2 thead"> </div>
       	    <div class="col-lg-2 col-md-2 col-sm-2 thead"> </div>
       	    <div class="col-lg-1 col-md-1 col-sm-2 thead"> </div>

       </div>
       <div class="row">
       	    <div class="col-lg-1 col-md-1 col-sm-1 thead" > June </div>
       	    <div class="col-lg-2 col-md-2 col-sm-1 thead" > </div>
       	    <div class="col-lg-1 col-md-1 col-sm-1 thead" > </div>
       	    <div class="col-lg-2 col-md-2 col-sm-2 thead" ></div>
       	    <div class="col-lg-1 col-md-1 col-sm-1 thead" > </div>
       	    <div class="col-lg-2 col-md-2 col-sm-2 thead"> </div>
       	    <div class="col-lg-2 col-md-2 col-sm-2 thead"> </div>
       	    <div class="col-lg-1 col-md-1 col-sm-2 thead"> </div>

       </div>
       <div class="row">
       	    <div class="col-lg-1 col-md-1 col-sm-1 thead" > July </div>
       	    <div class="col-lg-2 col-md-2 col-sm-1 thead" > </div>
       	    <div class="col-lg-1 col-md-1 col-sm-1 thead" > </div>
       	    <div class="col-lg-2 col-md-2 col-sm-2 thead" ></div>
       	    <div class="col-lg-1 col-md-1 col-sm-1 thead" > </div>
       	    <div class="col-lg-2 col-md-2 col-sm-2 thead"> </div>
       	    <div class="col-lg-2 col-md-2 col-sm-2 thead"> </div>
       	    <div class="col-lg-1 col-md-1 col-sm-2 thead"> </div>

       </div>
       <div class="row">
       	    <div class="col-lg-1 col-md-1 col-sm-1 thead" > Augest </div>
       	    <div class="col-lg-2 col-md-2 col-sm-1 thead" > </div>
       	    <div class="col-lg-1 col-md-1 col-sm-1 thead" > </div>
       	    <div class="col-lg-2 col-md-2 col-sm-2 thead" ></div>
       	    <div class="col-lg-1 col-md-1 col-sm-1 thead" > </div>
       	    <div class="col-lg-2 col-md-2 col-sm-2 thead"> </div>
       	    <div class="col-lg-2 col-md-2 col-sm-2 thead"> </div>
       	    <div class="col-lg-1 col-md-1 col-sm-2 thead"> </div>

       </div>
      <div class="row">
       	    <div class="col-lg-1 col-md-1 col-sm-1 thead" > Sept </div>
       	    <div class="col-lg-2 col-md-2 col-sm-1 thead" > </div>
       	    <div class="col-lg-1 col-md-1 col-sm-1 thead" > </div>
       	    <div class="col-lg-2 col-md-2 col-sm-2 thead" ></div>
       	    <div class="col-lg-1 col-md-1 col-sm-1 thead" > </div>
       	    <div class="col-lg-2 col-md-2 col-sm-2 thead"> </div>
       	    <div class="col-lg-2 col-md-2 col-sm-2 thead"> </div>
       	    <div class="col-lg-1 col-md-1 col-sm-2 thead"> </div>

       </div>
       <div class="row">
       	    <div class="col-lg-1 col-md-1 col-sm-1 thead" > October </div>
       	    <div class="col-lg-2 col-md-2 col-sm-1 thead" > </div>
       	    <div class="col-lg-1 col-md-1 col-sm-1 thead" > </div>
       	    <div class="col-lg-2 col-md-2 col-sm-2 thead" ></div>
       	    <div class="col-lg-1 col-md-1 col-sm-1 thead" > </div>
       	    <div class="col-lg-2 col-md-2 col-sm-2 thead"> </div>
       	    <div class="col-lg-2 col-md-2 col-sm-2 thead"> </div>
       	    <div class="col-lg-1 col-md-1 col-sm-2 thead"> </div>

       </div>
<div class="row">
       	    <div class="col-lg-1 col-md-1 col-sm-1 thead" > Nov </div>
       	    <div class="col-lg-2 col-md-2 col-sm-1 thead" > </div>
       	    <div class="col-lg-1 col-md-1 col-sm-1 thead" > </div>
       	    <div class="col-lg-2 col-md-2 col-sm-2 thead" ></div>
       	    <div class="col-lg-1 col-md-1 col-sm-1 thead" > </div>
       	    <div class="col-lg-2 col-md-2 col-sm-2 thead"> </div>
       	    <div class="col-lg-2 col-md-2 col-sm-2 thead"> </div>
       	    <div class="col-lg-1 col-md-1 col-sm-2 thead"> </div>

       </div>
       <div class="row">
       	    <div class="col-lg-1 col-md-1 col-sm-1 thead" > Dec </div>
       	    <div class="col-lg-2 col-md-2 col-sm-1 thead" > </div>
       	    <div class="col-lg-1 col-md-1 col-sm-1 thead" > </div>
       	    <div class="col-lg-2 col-md-2 col-sm-2 thead" ></div>
       	    <div class="col-lg-1 col-md-1 col-sm-1 thead" > </div>
       	    <div class="col-lg-2 col-md-2 col-sm-2 thead"> </div>
       	    <div class="col-lg-2 col-md-2 col-sm-2 thead"> </div>
       	    <div class="col-lg-1 col-md-1 col-sm-2 thead"> </div>

       </div>
       <div class="row">
       	    <div class="col-lg-1 col-md-1 col-sm-1 thead" > <b> TOTAL </b> </div>
       	    <div class="col-lg-2 col-md-2 col-sm-1 thead" > </div>
       	    <div class="col-lg-1 col-md-1 col-sm-1 thead" > </div>
       	    <div class="col-lg-2 col-md-2 col-sm-2 thead" ></div>
       	    <div class="col-lg-1 col-md-1 col-sm-1 thead" > </div>
       	    <div class="col-lg-2 col-md-2 col-sm-2 thead"> </div>
       	    <div class="col-lg-2 col-md-2 col-sm-2 thead"> </div>
       	    <div class="col-lg-1 col-md-1 col-sm-2 thead"> </div>

       </div>
       <br> <br>
     </div>
</body>
</html>