.version.index /* version checker */
{
	color: #0000E9;
	background-color: #F49D7F;
}

#page
{
	z-index: 1;
	min-height: 505px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 263px;
	width: 100%;
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

#u136
{
	z-index: 2;
	min-height: 79px;
	padding-bottom: 17px;
}

#u136_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#u163
{
	z-index: 3;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	width: 16.12%;
	left: 1.96%;
}

#buttonu2650
{
	z-index: 5;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	width: 12.21%;
	left: 85.84%;
}

#buttonu2650:hover
{
	min-height: 0px;
	width: 12.21%;
	margin: 20px -10000px 0px 0%;
}

#buttonu2650.ButtonSelected
{
	min-height: 0px;
	width: 12.21%;
	margin: 20px -10000px 0px 0%;
}

#u2651-4
{
	z-index: 6;
	min-height: 37px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	width: 82.4%;
	left: 8.8%;
}

#buttonu2650:hover #u2651-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 82.4%;
	margin: 9px -10000px 0px 0%;
}

#buttonu2650.ButtonSelected #u2651-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 82.4%;
	margin: 9px -10000px 0px 0%;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u136-bw
{
	z-index: 2;
	min-height: 79px;
}

#pu94
{
	margin-top: 99px;
	width: 100%;
}

#u94
{
	z-index: 10;
	border-style: solid;
	border-width: 4px;
	border-color: #005B05;
	background-color: transparent;
	padding-bottom: 267px;
	position: relative;
	width: 47.27%;
	left: -4px;
	margin: -2px -10000px -2px 26.3671875%;
}

#u97
{
	z-index: 11;
	height: 41px;
	border-width: 0px;
	border-color: transparent;
	background-color: #005B05;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	width: 100.83%;
	margin-left: 0.42%;
	left: -2px;
}

#pu100-4
{
	margin-right: -10000px;
	margin-top: 8px;
	width: 39.07%;
	margin-left: 27.15%;
}

#u100-4
{
	z-index: 12;
	min-height: 28px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 24px;
	font-size: 20px;
	font-weight: normal;
	position: relative;
	width: 25%;
}

#u123
{
	z-index: 16;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 65px;
	position: relative;
	width: 83%;
	margin-left: 17%;
}

#pu111-4
{
	margin-right: -10000px;
	width: 26.51%;
}

#u111-4
{
	z-index: 17;
	min-height: 24px;
	background-color: transparent;
	font-size: 17px;
	line-height: 20px;
	font-weight: bold;
	position: relative;
	width: 100%;
}

#u114-4
{
	z-index: 21;
	min-height: 24px;
	background-color: transparent;
	font-size: 17px;
	line-height: 20px;
	font-weight: bold;
	margin-top: 18px;
	position: relative;
	width: 100%;
}

#pu117
{
	margin-right: -10000px;
	width: 67.78%;
	margin-left: 32.23%;
}

#u117
{
	z-index: 25;
	height: 23px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	width: 99.12%;
}

#u120
{
	z-index: 26;
	height: 23px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	margin-top: 17px;
	position: relative;
	width: 99.12%;
}

#buttonu126
{
	z-index: 27;
	border-width: 0px;
	border-color: transparent;
	background-color: #F7931E;
	padding-bottom: 6px;
	margin-top: 64px;
	position: relative;
	width: 36.75%;
	margin-left: 40.25%;
}

#buttonu126:hover
{
	background-color: #545454;
	min-height: 0px;
	width: 36.75%;
	margin: 64px 0px 0px 40.25%;
}

#buttonu126.ButtonSelected
{
	background-color: #F7931E;
	min-height: 0px;
	width: 36.75%;
	margin: 64px 0px 0px 40.25%;
}

#u128-4
{
	z-index: 28;
	min-height: 23px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	width: 80.96%;
	left: 9.53%;
}

#buttonu126:hover #u128-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 80.96%;
	margin: 12px -10000px 0px 0%;
}

#buttonu126.ButtonSelected #u128-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 80.96%;
	margin: 12px -10000px 0px 0%;
}

#buttonu126:hover #u128-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

#u163_img
{
	width: 100%;
}

